@use "sass:math";
@use "variables.scss";

%flexy-element {
    display: flex;
    flex-wrap: nowrap;
}

@mixin section-creator($height: 100vh, $padding-block: 10% 0 , $justify: center, $bgc: black, $final-section: false){
    height: $height;
    padding: 5% $padding-block;
    justify-content: $justify;
    background-color: $bgc;

    @if($final-section == false){
        &::after{
            content: " ";
            display: block;
            z-index: 10;
            width: 100%;
            height: 20vh;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), 40%, rgb(0, 0, 0), 95%, rgba(0, 0, 0, 0));
            position: absolute;
            bottom: -10%;
            left: 0;
        }
    }
}

%staggered-cells{
    :nth-child(even){
        @extend %flexy-element;
        flex-direction: column-reverse;
    }
    
    :nth-child(odd){
        @extend %flexy-element;
        flex-direction: column;
    }
}

@mixin projects-staggered-grid($width: 100%, $height: 100%, $columns: 3){
    width: $width;
    height: $height;
    
    display: grid;
    grid-template: 100% / repeat($columns, 1fr);
    
    :nth-child(even){
        display: grid;
        grid-template: 1.1fr 0.9fr / 1fr;
        @extend %staggered-cells;
    }
    :nth-child(odd){
        display: grid;
        grid-template: 0.9fr 1.1fr / 1fr;
        @extend %staggered-cells;
    }
}

@mixin float-elem($top: 0, $left: 0, $position: absolute){
    position: $position;
    top: $top;
    left: $left;
    z-index: 20;
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    font-size: 18px;
    font-family: "Roboto", serif;
}

header{
    @extend %flexy-element;
    width: 100%;
    max-height: 20%;
    padding: 2%;
    
    display: flex;
    justify-content: space-between;
    
    @include float-elem(0,0,fixed);
}

.header__nav{
    max-width: fit-content;
}

.button__contact{
    width: calc(6vw + 1em);
    padding: 10px;
    font-size: 16px;
}

main{
    @extend %flexy-element;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

section{
    @extend %flexy-element;
}

.section__title{
    @include float-elem(3%, 3%, relative);
}

.bio, .technologies{
    @include section-creator();
}
.projects{
    @include section-creator(100vh, 5%);
}

.presentation{
    @extend %flexy-element;
}

.presentation__name-container{
    .presentation__name{
        font-size: 6em;
        text-align: start;
        width: min-content;
    }
    .presentation__ocupation{
        width: fit-content;
        margin-inline-start: auto;
        text-align: end;
        line-height: 0;
    }
    @include float-elem(15%, 70%);
}

.presentation__para{
    font-size: 1em;
    width: 19%;
    height: auto;
    @include float-elem(77%, 20%);
}

.presentation__pic{
    $aspect-ratio: math.div(939, 752);
    display: block;
    width: 55%;

    aspect-ratio: 1 / #{$aspect-ratio};

    align-self: flex-end;

    overflow-y: hidden;
}

.pic__img{
    width: 100%;
}

.projects__container{
    @include projects-staggered-grid();
}

footer{
    @extend %flexy-element;
    font-size: 1.5em;
}

.contact{
    width: 100%;
    height: 10%;
    padding: 2%;
    width: 100%;
    
    position: fixed;
    bottom: 0%;
    left: 0;
    z-index: 20; 

    @extend %flexy-element;
    justify-content: space-between;
}

.contact__social{
    @extend %flexy-element;
    justify-content: space-around;
    width: 12%;
    .contact__social-icon{
        width: 30px;
        height: fit-content;
    }
}

.contact__location{
    font-weight: 500;
}
